:root {
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--DarkBlue);
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    position: relative;
    top: 15%;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2.5rem;
    align-items: center;
    border-radius: 10px;
    background-color: var(--DarkGrayishBlue);
}

header {
    width: 90%;
    color: var(--NeonGreen);
    font-size: 0.8rem;
    text-align: center;
    padding: 3rem 0 1.75rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-transform: uppercase;
}

section {
    width: 90%;
    font-size: 24px;
    text-align: center;
    color: var(--LightCyan);
}

.divider {
    padding: 2.5rem 0 1.5rem;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("./images/pattern-divider-mobile.svg") no-repeat;
    background-position: center;
    width: 90%;
}

button {
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    background-color: var(--NeonGreen);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    animation: glowing 1300ms infinite;
    cursor: pointer;
}

.attribution {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 10%);
    font-size: 11px;
    text-align: center;
    color: var(--LightCyan);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@keyframes glowing {
    0% {
        background-color: hsl(150, 100%, 66%);
        box-shadow: 0 0 3px hsl(150, 100%, 66%);
    }

    50% {
        background-color: hsl(150, 74%, 63%);
        box-shadow: 0 0 10px hsl(150, 74%, 63%);
    }

    100% {
        background-color: hsl(150, 71%, 44%);
        box-shadow: 0 0 3px hsl(150, 71%, 44%);
    }
}

@media only screen and (min-width: 750px) {

    main {
        top: 20%;
        width: 550px;
        padding-bottom: 2.5rem;
    }

    .divider {
        padding: 2rem 0 1.5rem;
        background: url("./images/pattern-divider-desktop.svg") no-repeat;
        background-position: center;
    }
}